@font-face {
  font-family: "iconfont"; /* Project id 3557821 */
  src: url('iconfont.woff2?t=1661866767959') format('woff2'),
       url('iconfont.woff?t=1661866767959') format('woff'),
       url('iconfont.ttf?t=1661866767959') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-folder-add:before {
  content: "\e602";
}

.icon-pen:before {
  content: "\e669";
}

.icon-highlight:before {
  content: "\e769";
}

.icon-file-txt-fill:before {
  content: "\e676";
}

.icon-file-markdown:before {
  content: "\e648";
}

.icon-add:before {
  content: "\e664";
}

.icon-bijinotes23:before {
  content: "\e601";
}

.icon-shoucang:before {
  content: "\e8b9";
}

.icon-shanchu2:before {
  content: "\e600";
}

.icon-shanchu:before {
  content: "\ec7b";
}

.icon-tri-right:before {
  content: "\e643";
}

.icon-tri-right-bottom-copy:before {
  content: "\e79c";
}

.icon-link:before {
  content: "\e79b";
}

.icon-link1:before {
  content: "\e772";
}

.icon-share:before {
  content: "\e67d";
}

.icon-zhongmingming:before {
  content: "\e64c";
}

.icon-zhongmingming1:before {
  content: "\e638";
}

.icon-bianji:before {
  content: "\e668";
}

.icon-gengduo:before {
  content: "\e66d";
}

