@media (prefers-color-scheme: light) {
    :root {
        --note-ext-theme: #FFFFFF;
        --note-ext-theme2: #3B3B3B;
        
        --note-ext-line: #EAEAEA;
        --note-ext-icon: #2B2B2B;

        --note-ext-font: #2B2B2B;
        /* --note-ext-border: #4B4B4B; */

        --note-ext-card: #FFFFFF;
        --note-ext-card-border: #EEEEEE;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --note-ext-theme: #4A4A4A;
        --note-ext-theme2: #3B3B3B;
        --note-ext-line: #5F5F5F;
        
        --note-ext-icon: #fff;
        --note-ext-font: #fff;
        
        --note-ext-border: #4B4B4B;

        --note-ext-card: #424242;
        --note-ext-card-border: #2C2625;

        --note-ext-cell-bg: #8A8A8A;
        --note-ext-cell-hover: rgba(255, 255, 255, 0.4);
        --note-ext-cell-focus: rgba(255, 255, 255, 0.4);
    }
}

:root {
    --note-ext-blue: #0078D7;
    --note-ext-yellow: #FFB900;
    --note-ext-red: #E74856;
    --note-ext-green: #00CC6A;
    --note-ext-purple: #B146C2;
}